// Form Styles
form.madlib {
  background-color: $white;
  border-radius: $global-radius;
  padding: $base-leading/4 $base-leading/2;
  margin: 0;
  text-align: left;
  font-family: $sans-serif;
  blockquote {
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 3.2;
  }
  fieldset {
    display: inline-block;
    padding: 0;
    border: none;
    @include ms-respond(font-size, 0);
  }
  label {
    display: inline-block;
    font-weight: normal;
  }
  input, textarea {
    display: inline-block;
  }

  input {
    &[type="text"], &[type="email"], &[type="url"] {
      display: inline-block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 3px dashed lighten($body-font-color, 50%);
      width: auto;
    }
    &[type="url"] {
      width: 60%;
    }
    &[type="number"] {
      @extend input[type="text"];
      width: 3.5rem;
    }
    &[type="submit"] {
      margin: $base-leading 0;
    }
  }
  textarea {
    @extend input[type="text"];
    width: 98%;
    // height: $base-leading;
  }
}

.madlib-signature-name, .madlib-signature-email {
  line-height: 1.6;
  font-weight: 900;
  display: block;
}

form.normal {
  input[type="submit"] {
    @extend .button;
    border: none;
    border-radius: 0;
    padding: .5em 1.25em;
    line-height: 1;
    margin-top: $base-leading;
  }
  label {
    margin-bottom: $base-leading;
    display: block;
  }
  textarea {
    width: 100%;
  }
}
