// Inspired by http://madebymike.com.au/writing/precise-control-responsive-typography/
// Taken from https://github.com/modularscale/modularscale-sass#responsive-scales

$header-font-color: $dark-teal;
$body-font-color: #0a0a0a;
$base-leading: 1.6em;

$ms-range: 1.1 26em, $fifth 175em;

$sans-serif: 'museo-sans-rounded', Helvetica, Verdana, Geneva, sans-serif;

$serif: 'rooney-web', Georgia, Cambria, 'Times New Roman', Times, serif;

body {
  @include ms-respond(font-size, 1);
  font-family: $sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  font-weight: 900;
  color: $header-font-color;
  hyphens: auto;
  word-wrap: break-word;
  max-width: 100%;
  a {
    color: $header-font-color;
  }
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

h1 {
  @include ms-respond(font-size, 5);
  margin-top: 0;
}

h2 {
  @include ms-respond(font-size, 4);
  &.subheader {
    @include ms-respond(font-size, 3);
  }
}

h3 {
  @include ms-respond(font-size, 3);
}

h4 {
  @include ms-respond(font-size, 2);
}

h5 {
  @include ms-respond(font-size, 2);
  @include smcps;
  // border-bottom: 1px solid $primary-color;
}

h6 {
  @include ms-respond(font-size, 0);
  margin-top: 1.6em;
  margin-bottom: 0;
}

hgroup {
  margin-bottom: 1.6em;
  margin-top: 0;
  h1 {
    margin-bottom: 0;
  }
  .subheader {
    margin-top: 0;
    margin-bottom: 2em;
  }
}

.subheader {
  text-transform: none;
  font-weight: 300;
  color: $body-font-color;
  hyphens: auto;
}

.supraheader {
  @extend .subheader;
  font-weight: 700;
  text-transform: uppercase;
  hyphens: auto;
}

body, p, li {
  line-height: 1.6;
}

p {
  font-family: $serif;
  margin-bottom: $base-leading;
  &.lead {
    font-family: $sans-serif;
    @include ms-respond(font-size, 0);
    font-weight: 300;
  }
}


dd {
  margin-bottom: $base-leading;
  font-weight: 300;
}

ul {
  margin: 0 0 $base-leading $base-leading;
}

li {
  margin-bottom: $base-leading/2;
  font-family: $serif;
}

figure {
  margin: $base-leading $base-leading/2;
}

img {
  max-width: 100%;
  margin-bottom: $base-leading;
}

a {
  color: $primary-color;
  text-decoration: none;
}

em {
  font-weight: 300;
}

p.drop-cap:first-letter {
  color: $primary-color;
  float: left; font-size: 6.2em;
  line-height: .8;
  padding-right: .1em;
  margin-top: -.06em;
  font-weight: 700;
}

strong {
  font-weight: 700;
}

blockquote {
  border: none;
  color: $header-font-color;
  font-style: italic;
  &:before {
    content: "\201C";
  }
  &:after {
    content: "\201D";
  }
}

p.lead {
  font-size: 1.5rem;
  color: $header-font-color;
}
