// Inspired by http://madebymike.com.au/writing/precise-control-responsive-typography/
// Taken from https://github.com/modularscale/modularscale-sass#responsive-scales

$header-font-color: #333;
$body-font-color: #444;
$base-leading: 1.6em;

$ms-range: 1.1 26em, $fifth 175em;

$sans-serif: 'museo-sans-rounded', Helvetica, Verdana, Geneva, sans-serif;

$serif: 'freight-text-pro', Georgia, Cambria, 'Times New Roman', Times, serif;

body {
  @include ms-respond(font-size, 1);
  font-family: $sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  font-weight: 700;
  color: $header-font-color;
  a {
    color: $header-font-color;
  }
}

h1 {
  @include ms-respond(font-size, 5);
  margin-top: 0;
}

h2 {
  @include ms-respond(font-size, 4);
  &.subheader {
    @include ms-respond(font-size, 3);
  }
}

h3 {
  @include ms-respond(font-size, 3);
  @include smcps;
  border-bottom: 1px solid $primary-color;
  width: max-content;
}

h4 {
  @include ms-respond(font-size, 2);
}

h5 {
  @include ms-respond(font-size, 2);
  @include smcps;
  border-bottom: 1px solid $primary-color;
  width: max-content;
}

h6 {
  @include ms-respond(font-size, 1);
  margin-top: 1.6em;
  margin-bottom: 0;
}

hgroup {
  margin-bottom: 1.6em;
  margin-top: 0;
  h1 {
    margin-bottom: 0;
  }
  h2.subheader {
    margin-top: 0;
    margin-bottom: 2em;
  }
}

.subheader {
  font-family: $serif;
  font-style: italic;
  font-weight: 300;
  color: $body-font-color;
}

body, p, li {
  line-height: 1.6;
}

p {
  font-family: $serif;
  margin-bottom: $base-leading;
}

ul {
  margin: 0 0 $base-leading $base-leading;
}

dd {
  margin-bottom: $base-leading;
}

li {
  margin-bottom: $base-leading/2;
  font-family: $serif;
}

figure {
  margin: $base-leading $base-leading/2;
}

img {
  max-width: 100%;
  margin-bottom: $base-leading;
}

a {
  color: $primary-color;
  text-decoration: none;
}

em {
  font-weight: 300;
}

p.drop-cap:first-letter {
  color: $primary-color;
  float: left; font-size: 6.2em;
  line-height: .8;
  padding-right: .1em;
  margin-top: -.06em;
  font-weight: 700;
}

strong {
  font-weight: 700;
}

.button {
  display: block;
  background-color: $primary-color;
  padding: .4em 1.6em;
  @include smcps;
  text-decoration: none;
  text-align: center;
  color: white;
  width: max-content;
  box-sizing: border-box;
  &:hover {
    background-color: darken($primary-color, 15%);
  }
  @media all and (min-width: $homeNavBreak) {
  }
}

// Form Styles
form {
  text-align: left;
  padding: 0;
}

label {
  display: block;
  @include smcps;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.6rem;
}

input {
  margin-bottom: .8em;
  width: 100%;
  padding: .25em .65em;
  font-size: 1.6em;
  height: 2em;
  box-sizing: border-box;
  border: none;
  &[type="submit"] {
    @extend .button;
    border: none;
    border-radius: 0;
    padding: .5em 1.25em;
    line-height: 1;
  }
}

textarea {
  @extend input;
  min-height: 8em;
  font-size: 1em;
}
