// PROSPER brand colors
$dark-teal: #006875;
$teal: #17AF95;
$warm-grey: #EEEBEA;
$medium-grey: #5f5f5f;
$light-grey: #F3F9F9;
$yellow: #F7EE80;

// Typographic leading
$base-leading: 1.6em;

// Custom breakpoints
$footerBreak: 836px;
$homeNavBreak: 940px;
