// PROSPER brand colors
$dark-teal: #015F64;
$teal: #26A59A;
$green: #10B2C6;
$blue: #0F7CBC;
$cyan: #10B2C6;
$warm-grey: #EEEBEA;
$medium-grey: #5f5f5f;
$light-grey: #F3F9F9;
$yellow: #F7EE80;

// Typographic leading
$base-leading: 1.6em;

// Custom breakpoints
$footerBreak: 836px;
$homeNavBreak: 940px;
