footer.l-site-footer
  section.l-footer-columns-wrapper
    section#contact.l-footer-column
      h4 Contact
      ul.l-social-icon-list
        li
          a(href='http://twitter.com/iamjohnellison')
            img(src='images/twitter.svg', alt='twitter icon ')
        li
          a(href='mailto:admin@refugee.community?subject=Getting%20Involved')
            img(src='images/mail.svg', alt='email icon svg')
        li
          a(href='http://facebook.com/iamjohnellison')
            img(src='images/facebook.svg', alt='facebook icon ')
        li
          a(href='https://uk.linkedin.com/in/jbellison')
            img(src='images/linkedin.svg', alt='linkedin icon ')
        li
          a(href='https://github.com/johnellison')
            img(src='images/github.svg', alt='github icon ')
    section#notes.l-footer-column
      h4 Facts &amp; Figures
      ul.l-facts-figures-list
        li
          a(href='http://www.unhcr.org.uk/about-us/key-facts-and-figures.html') UNHCR Key Facts and Figures
        li
          a(href='http://www.npr.org/sections/parallels/2015/09/08/438539779/the-migrant-crisis-by-the-numbers') NPR: The Migrant Crisis By The Numbers
        li
          a(href='http://data.unhcr.org/mediterranean/regional.php') UNHCR: Mediterranean Regional Data
        li
          a(href='http://www.huffingtonpost.co.uk/2015/09/04/numbers-on-syria-refugee-crisis-prove-britain-should-do-more_n_8088848.html') Huffington Post: Numbers on Syria Refugee Crisis
    section#privacy-and-terms.l-footer-column
      h4 Privacy &amp; Terms
      ul
        li
          a(href='/privacy-policy.html', target='_blank') Privacy Policy
        li
          a(href='/terms-of-service.html', target='_blank') Terms of Service
