header.site-header
  h1.site-title
    a(href='/')
      span.site-logo
        | #RC
      span.site-title-text
        | Refugee Community
  h2.menu-label
    a(href='javascript:void(0)')
      span.menu-text Menu
      span.menu-icon
        span
  nav.home-nav
    ul.home-nav--list
      li
        a(href='#about') About
      li
        a(href='#situation') Situation
      li
        a(href='#help') Need Help
      li.has-button
        a.button(href='#join') join now
      li.login
        a(href='https://refugeecommunity.slack.com/messages/general/') log in
