header.site-header
  h1.site-title
    a(href='/')
      span.site-logo
        | #STRC
      span.site-title-text
        | Solve The Refugee Crisis
  h2.menu-label
    a(href='javascript:void(0)')
      span.menu-text Menu
      span.menu-icon
        span
  section.nav
    nav.site-nav
      ul.site-nav--list
        li
          a(href="/playbook.html") Playbook
        //- li
        //-   a(href="http://blog.solvetherefugeecrisis.com") Blog
    nav.home-nav
      ul.home-nav--list
        li
          a(href='/#problem') Problem
        li
          a(href='/#solution') Solution
        li.has-button
          a.button(href='/#join') join now
        li.login
          a(href='https://solvetherefugeecrisis.slack.com/messages/general/') log in
