// bower:scss
// endbower

@charset "UTF-8";

html, body {
  height:100%;
  overflow:auto;
  scroll-behavior: smooth;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Components
@import 'bower_components/sass-burger/burger.scss';

// Modular Scale
@import 'bower_components/modular-scale/stylesheets/modular-scale';

// Normalize — need to refactor to reduce bloat
@import 'bower_components/modularized-normalize-scss/normalize';

// 01 Base
// Need to reduce normalized bloat
@import '01-base/normalize',
        '01-base/variables',
        '01-base/mixins',
        '01-base/typography',
        '01-base/forms';

// 02 Layout
@import '02-layout/l-index',
        '02-layout/l-legal-docs',
        '02-layout/l-header',
        '02-layout/l-footer';

// 03 Modules

// 04 States
@import '04-states/home-nav';

// Debug
// @import 'debug';
