// bower:scss
// endbower

@charset "UTF-8";

html, body {
  overflow: auto;
  margin: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Components
@import 'bower_components/sass-burger/burger.scss';

// Modular Scale
@import 'bower_components/modular-scale/stylesheets/modular-scale';

// 01 Base
// Need to reduce normalized bloat
@import '01-base/normalize',
        '01-base/variables',
        '01-base/mixins',
        '01-base/typography',
        '01-base/icons',
        '01-base/global',
        '01-base/forms';

// 02 Layout
@import '02-layout/l-default',
        '02-layout/l-header',
        '02-layout/l-footer';

// 03 Modules
@import '03-modules/m-table-of-contents';

// 04 States
@import '04-states/home-nav';

// Debug
// @import 'debug';
