// Styles for default layout

// Content Section
.l-content-section__bg {
  background-color: $light-gray;
  &#academy {
    background-image: url('/assets/img/prosper-community-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
    color: $white;
    h2, h4 {
      color: $white;
    }
  }
}

.l-content-section__wrapper {
  @include grid-row;
}

.l-content-section {
  padding: $base-leading*3 0;
  @include grid-col;
  @include breakpoint(medium) {
    @include grid-col(10);
    @include grid-col-off(1);
  }
  @include breakpoint(large) {
    @include grid-col(8);
    @include grid-col-off(2);
  }
  @include breakpoint(xxlarge) {
    @include grid-col(10);
    @include grid-col-off(1);
  }
}

.l-content-section__header {
  // text-align: center;
}

.l-team-content {
  padding: $base-leading*3 0;
  text-align: center;
  a.button {
    margin: 0 auto;
  }
}

// Marquee is the large banner that oftens contains h1 and h2 subheader
.l-marquee__bg {
  position: relative;
  width: 100%;
  background: $header-font-color;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all 0.5s ease;
  }
  &#index {
    background-image: url('/assets/img/sunrays-morning-grass-1080x608.jpg');
    background-size: cover;
    background-position: 50% 50%;
    @include breakpoint(large) {
      background-image: url('/assets/img/sunrays-morning-grass-1280x720.jpg');
    }
    @include breakpoint(xxlarge) {
      background-image: url('/assets/img/sunrays-morning-grass-1980x1114.jpg');
    }
  }
  &#journey {
    background-image: url('/assets/img/our-journey-bg-1280x667.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#refugee-projects {
    background-image: url('/assets/img/rotating-starry-sky-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#academy {
    background-image: url('/assets/img/prosper-community-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#playbook {
    background-image: url('/assets/img/playbook-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#uxd-track {
    background-image: url('/assets/img/ux-design-track-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#dev-track {
    background-image: url('/assets/img/web-development-track-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
}

.l-marquee__wrapper {
  @include grid-row;
  display: flex;
  min-height: 40vh;
}

.l-marquee__header {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  padding-top: 12vh;
  padding-bottom: 10vh;
  margin-bottom: 0;
  @include breakpoint(large) {
    @include grid-col(10);
    @include grid-col-off(1);
    padding-top: 14vh;
    padding-bottom: 12vh;
  }
  @include breakpoint(xlarge) {
    @include grid-col(8);
    @include grid-col-off(2);
    padding-top: 18vh;
    padding-bottom: 16vh;
  }
  @include breakpoint(xxlarge) {
    @include grid-col(10);
    @include grid-col-off(1);
  }
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
  .subheader {
    margin-bottom: 0;
    color: $white;
  }
  .supraheader {
    @extend .subheader;
  }
}

.l-join-content {
  @extend %l-inner-column-content;
  h2 {
    margin: 0;
    &.success {
      color: $primary-color;
    }
  }
}

.l-join-form {
  font-weight: 300;
}

// Playbook
.l-playbook-welcome-wrapper {
  @extend .l-welcome-wrapper;
  background-color: $light-gray;
}

.l-playbook-welcome-header {
  @extend .l-welcome-header;
}

.l-playbook-content, .l-playbook-header-content {
  @extend %l-inner-column-content;
}

.l-table-of-contents li a h6 {
  margin: 0;
  color: $primary-color;
}

// Legal Docs
.l-legal-docs-content {
  @extend %l-inner-column-content;
}
