// Styles for default layout
.welcome {
  padding-top: $base-leading*2;
}

.actions {
  padding-bottom: $base-leading*4;
}

// Content Section
.l-content-section__bg {
  position: relative;
  background-color: $light-gray;
  @include overlay-bg(.65, $teal, $yellow);
}

.l-content-section__wrapper {
  @include grid-row;
  overflow: hidden;
  padding: $base-leading*2 0;
  @include breakpoint(xxxlarge) {
    padding: $base-leading*4 0;
  }
}

.l-content-section {
  position: relative;
  @include grid-col;
  @include breakpoint(medium) {
    @include grid-col(10);
    @include grid-col-off(1);
  }
  @include breakpoint(large) {
    @include grid-col(8);
    @include grid-col-off(2);
  }
  @include breakpoint(xxxlarge) {
    @include grid-col(10);
    @include grid-col-off(1);
  }
}

.l-content-section--full {
  position: relative;
  @include grid-col;
}

// Marquee is the large banner that oftens contains h1 and h2 subheader
.l-marquee__bg {
  position: relative;
  width: 100%;
  margin: 0;
  @include overlay-bg(.65, $teal, $yellow);
  &#index {
    background-image: url('/assets/img/sunrays-morning-grass-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#journey {
    background-image: url('/assets/img/our-journey-bg-1280x667.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#refugee-projects {
    background-image: url('/assets/img/rotating-starry-sky-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#academy {
    background-image: url('/assets/img/bursary-program-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#playbook {
    background-image: url('/assets/img/playbook-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#uxd-track {
    background-image: url('/assets/img/ux-design-track-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#dev-track {
    background-image: url('/assets/img/web-development-track-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#bursary-program {
    background-image: url('/assets/img/bursary-program-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#volunteer {
    background-image: url('/assets/img/volunteer-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
    @include overlay-bg(.85, $teal, $yellow);
  }
  &#getting-started {
    background-image: url('/assets/img/getting-started-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#feedback {
    background-image: url('/assets/img/feedback-bg-1280x720.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &#who-we-are {
    @include overlay-bg(.65, $teal, $yellow);
  }
}

.l-marquee__wrapper {
  @include grid-row;
  display: flex;
  min-height: 40vh;
}

.l-marquee__header {
  position: relative;
  width: 100%;
  padding: 8rem 1rem;
  margin-bottom: 0;
  min-height: 200px;
  @include breakpoint(large) {
    @include grid-col(10);
    @include grid-col-off(1);
    min-height: 300px;
  }
  @include breakpoint(xlarge) {
    @include grid-col(8);
    @include grid-col-off(2);
  }
  @include breakpoint(xxlarge) {
    @include grid-col(10);
    @include grid-col-off(1);
  }
  .subheader {
    margin-bottom: 0;
  }
}

.l-join-content {
  @extend %l-inner-column-content;
  h2 {
    margin: 0;
    &.success {
      color: $primary-color;
    }
  }
}

.l-join-form {
  font-weight: 300;
}

.l-table-of-contents li a h6 {
  margin: 0;
  color: $primary-color;
}
