footer.l-site-footer {
  z-index: 99;
  position: relative;
  min-height: 3.2em;
  color: $white;
  font-weight: 300;
  a {
    color: $warm-grey;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $yellow;
    }
  }
  .l-footer-columns-wrapper {
    background: $dark-teal;
    margin: 0 auto;
    padding: 1.6em .8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media all and (min-width: $footerBreak) {
      justify-content: space-around;
    }
  }
  .l-footer-column {
    background: $dark-teal;
    margin-right: .8em;
    &:last-child {
      margin-right: 0;
    }
    h4 {
      color: $teal;
      margin-top: 0;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      font-family: $sans-serif;
    }
  }
  .l-social-icon-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      width: $base-leading;
      height: $base-leading;
      display: inline-block;
      margin-bottom: $base-leading;
      &:not(.last) {
        margin-right: $base-leading;
      }
    }
  }
  .l-facts-figures-list {
    list-style: none;
  }
}
