.title-bar {
  width: 100%;
  z-index: 99;
}

.title-bar-title {
  text-transform: uppercase;
}

.site-header {
  z-index: 99;
  width: 100%;
  background-color: $dark-teal;
  font-weight: 500;
  text-transform: uppercase;
  .menu a {
    color: $warm-grey;
    &.logo {
      background-image: url('/assets/img/no-bg_Prosper.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 200px;
      height: 0px;
      padding: 2rem 0 0 0;
      overflow: hidden;
      display: block;
      box-sizing: border-box;
      margin: .25rem 0;
      @include breakpoint(large) {
        margin: .25rem 0 .25rem 1rem;
      }
    }
  }
}

.menu > li:not(.menu-text) > a.button {
  // display: none;
  padding: .7rem 1rem !important;
}

.top-bar-right {
  .button {
    margin-left: 1rem;
  }
  @include breakpoint(large) {
    margin-top: 2px;
    .button {
      margin-left: .6rem;
      margin-bottom: .1rem;
    }
  }
}

.top-bar-left {
  @include breakpoint(large) {
    margin-top: 4px;
  }
}
