

.title-bar {
  width: 100%;
  z-index: 99;
  padding: .4rem 1.2rem;
  .menu-icon {
    float: right;
    margin: 1.15rem .5rem 0 .5rem;
  }
  .title-bar-title {
    text-transform: uppercase;
    float: right;
    width: auto;
    padding-top: .8rem;
  }
  .title-bar-logo {
    width: auto;
    display: inline-block;
    padding: .5rem;
  }
  .logo {
    background-image: url('/assets/img/no-bg_Prosper.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 125px;
    height: 0px;
    padding: 2rem 0 0 0;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    margin: .25rem 0;
    @include breakpoint(large) {
      margin: .25rem 1rem;
    }
  }
}

.site-header {
  z-index: 99;
  width: 100%;
  background-color: $dark-teal;
  font-weight: 300;
  li.has-logo {
    display: none;
    @media (min-width: 1080px) {
      display: block;
    }
  }
  .menu a {
    color: $warm-grey;
    transition: all 0.2s ease-in-out;
    &:not(.logo) {
      opacity: .85;
      &:hover {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
      }
    }
    &.social-icon {
      margin-top: .75rem;
      @include breakpoint(small-only) {
        padding: 0.7rem 3rem 1.2rem 3rem;
      }
    }
    &#facebook {
      background-image: url('/assets/img/facebook.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    &#twitter {
      background-image: url('/assets/img/twitter.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    &#github {
      background-image: url('/assets/img/github.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    &#linkedin {
      background-image: url('/assets/img/linkedin.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    &.logo {
      background-image: url('/assets/img/no-bg_Prosper.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 150px;
      height: 0px;
      padding: 2rem 0 0 0;
      overflow: hidden;
      box-sizing: border-box;
      margin: .25rem 0;
      @include breakpoint(large) {
        margin: .25rem 1rem;
      }
    }
  }
}

.menu > li:not(.menu-text) {
  padding: .5rem;
  a.button {
    // display: none;
    padding: .5rem !important;
  }
}

.top-bar {
  @include breakpoint(small-only) {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

.top-bar-right {
  .button {
    margin-left: 1rem;
  }
  @include breakpoint(large) {
    margin-top: 2px;
    .button {
      margin-left: .6rem;
      margin-bottom: .1rem;
    }
  }
}

.top-bar-left {
  @include breakpoint(large) {
    margin-top: 4px;
  }
}
