// All Mixins Here:

@mixin smcps {
  font-variant: small-caps;
  letter-spacing: .08em;
}

@mixin single-column {
  width: 96%;
  padding: 8vh 2vh;
  overflow: hidden;
  margin: 0 auto;
  max-width: 650px;
  box-sizing: border-box;
}

@mixin callout-bg($color) {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: $color;
    opacity: $global-opacity;
  }
}

@mixin global-transition {
  @media all and (min-width: $homeNavBreak) {
    transition: all 0.2s ease-in-out;
    opacity: $global-opacity;
    &:hover {
      opacity: 1;
    }
  }
}
