// Inspired by http://madebymike.com.au/writing/precise-control-responsive-typography/
// Taken from https://github.com/modularscale/modularscale-sass#responsive-scales

$ms-range:
  1.1 20em,
  $golden 175em;

body {
  @include ms-respond(font-size, 1);
}

h1 {
  @include ms-respond(font-size, 5);
  margin-top: 0;
}

h2 {
  @include ms-respond(font-size, 4);
  &.subheader {
    @include ms-respond(font-size, 3);
  }
}

h3 {
  @include ms-respond(font-size, 3);
}

h4 {
  @include ms-respond(font-size, 2);
}

hgroup {
  margin-bottom: 1em;
  margin-top: 0;
  h1 {
    margin-bottom: 0;
  }
  h2.subheader {
    margin-top: 0;
    margin-bottom: 2em;
  }
}

.subheader {
  font-style: italic;
  font-weight: 300;
}

body, p, li {
  line-height: 1.6;
}

p, li {
  margin-bottom: $base-leading;
}

figure {
  margin: $base-leading $base-leading/2;
}

img {
  max-width: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;
}

em {
  font-weight: 300;
}

.button {
  display: block;
  background-color: $primary-color;
  padding: .5em 1.25em;
  @include smcps;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 100%;
  box-sizing: border-box;
  &:hover {
    background-color: darken($primary-color, 15%);
  }
  @media all and (min-width: $homeNavBreak) {
    width: max-content;
  }
}

p.drop-cap:first-letter {
  color: $primary-color;
  float: left;
  font-size: 5.2em;
  line-height: .8;
  padding-right: .15em;
  margin-top: .06em;
}

.success {
  color: $primary-color;
}
