$primary-color: #56B68B;
$secondary-color: #efefef;
$error-color: darken(#BF8A8B, 10%);
$header-font-color: #333;
$body-font-color: #444;
$base-leading: 1.6em;
$white: #fff;

// $yellow-orange: #E9A820;
// $blue: #6ECADC;

$global-skew: -8deg;
$global-opacity: .85;

// Breakpoints
$homeNavBreak: 771px;

$aboutBreak1: 650px;

$footerBreak1: 836px;
