extends views/layouts/default

block content
  article.main-content(role='main')
    .l-welcome-wrapper
      hgroup.l-welcome-header
          h1 Join The Team
          h2.subheader We're a global community of creatives collaborating to help solve the problems of the refugee crisis.
        
    section#problem.l-problem-wrapper
      .l-problem-content
        h2 The Problem
        ul
          li 59.5 million displaced people worldwide
          li 19.5 million refugees
          li $27 million spent per day on relief and aid for displaced people
          li Over 50,000 organizations are working to solve this problem in different ways.
          li
            strong There is no way for people working to solve the crisis to collaborate in real-time.
    section#solution.l-solution-wrapper
      .l-solution-content
        h2 The Solution
        h3 Step 1: launch a real-time forum
        p Our goal is to enable creatives to collaborate on the refugee crisis in real-time from across the globe. We've setup a team on 
          a(href="https://slack.com") Slack
          |  and have started inviting creative problem solvers to join.
        h3 Step 2: find problem-solution fit
        p Our goal is to work as a team to explicitly define the problem of the refugee crisis. With a clear problem definition, we want to apply 
          a(href="https://en.wikipedia.org/wiki/Design_thinking") design thinking
          |  to generate a diverse spectrum of possible solutions ranging from the immediate to the long-term.
        h3 Step 3: implement solutions
        p Our goal is to use lean methodologies to implement innovative solutions to immediate and long-term problems. With a real-time forum supporting our efforts, the aim is to provide radical collaboration through seamless communication and transparency.
        
        h3 Ongoing Solutions
        ul
          li
            a(href="http://www.refugees-welcome.net/") Refugees Welcome — Placing Refugees in Shared Flats
          li
            a(href="http://www.wefugee.org/k") Wefugee — Q&A For Refugees
          
    section#join.l-join-wrapper
      .l-join-content
        h2 Request an Invite
        p If you are a creative problem solver interested in working to solve the refugee crisis, please provide us with your details below. 
        p Upon receiving your request, we will email you to schedule an interview. Interviewing each potential team member ensures that we continue toward our purpose: 
          strong To create a global community of creatives collaborating to solve the problems of the refugee crisis.
          
        form.l-join-form(action='http://formspree.io/admin@solvetherefugeecrisis.com', method='POST')
          label(for='your-name') name
          input#your-name(type='text', required='', name='your-name', placeholder='Jane Smith', autocomplete='name')
          label(for='your-email') email
          input#your-email(type='email', required='', name='your-email', placeholder='name@address.com', autocomplete='email')
          label(for='your-name') organization
          input#your-name(type='text', required='', name='your-organization', placeholder='Company Y')
          label(for='your-name') role
          input#your-name(type='text', required='', name='your-organization', placeholder='Director of Design')
          label(for='your-reason') why you want to join
          textarea#your-reason(name='your-reason', placeholder="Please explain why you would like to join our team and why you want to help solve the refugee crisis...")
          input(type='submit' value='submit' class="button")
