extends views/layouts/default

block content
  article.main-content(role='main')
    .l-welcome-wrapper
      hgroup.l-welcome-header
          h1 Join The Team
          h2.subheader We're a community of digital workers collaborating to help solve the refugee crisis&mdash;one small problem at a time...
        
    section#situation.l-situation-wrapper
      .l-situation-content
        h2 The Situation
        ul
          li 59.5 million displaced people worldwide
          li 19.5 million refugees
          li $27 million spent per day on relief and aid for displaced people
          li Over 50,000 organizations are working to solve this problem in different ways.

    section#problem.l-problem-wrapper
      .l-problem-content
        h2 The Problem
        p Organizations working on the crisis don't have the luxury to step back and create proactive solutions, they only have time to react. 
        
        p This is where we as digital workers (who are not on the front-line) have an opportunity to help create positive change in a broken world...

    section#solution.l-solution-wrapper
      .l-solution-content
        h2 The Solution
        h3 build local and global communities
          i.i-checkbox-checked 
        p We have a team of passionate and skilled professionals collaborating to solve the problems of the refugee crisis from across the globe. We're using 
          a(href="https://slack.com") Slack
          |  to communicate in real-time and we are growing fast.
          
        p If you're interested in starting an STRC meetup in your city, 
          a(href="mailto:john@solvetherefugeecrisis.com?subject=STRC%20Meetup") send us a message.
          
        h3 discover problems
          i.i-checkbox-checked
        p We are currently researching the problems that refugees, refugee representatives and organizations like  
          a(href="http://refugees-welcome.net") Refugees Welcome
          |  are facing amidst the crisis. We are interviewing founders and workers in organizations all over the world and discussing the problems we discover with our team on the Slack channel.
            
        h3 pick a first problem
          i.i-checkbox-unchecked
        p Once we are confident that we have documented a sufficient range of problems and have seen good opportunities to help, we'd like to sift through our research to choose a specific problem to solve that matches our criteria:
        
        ul
          li 
            strong Solvable 
            | with design & technology
          li Would allow prototyping & testing 
            strong unobtrusive 
            | to critical aid
          li Solutions could be 
            strong measurable
        
        h3 solve the problem
          i.i-checkbox-unchecked
        p We are going to colocate with our parter organization and apply a collaborative human-centered design process to prototype a solution. With a working prototype, we will test and measure its effectiveness and iterate into production.
        
        h3 document process
          i.i-checkbox-unchecked
        p As we solve the problem, we are going to document our process so that we can turn it into an open-source field guide for other teams who want to solve a specific problem of the refugee crisis.
        
        h3 empower teams
          i.i-checkbox-unchecked
        p With a working solution, field guide and body of documented problems&mdash;we want to empower other self-forming teams to replicate our process and solve another problem of the refugee crisis.
        
        p Our growing community of expert mentors can support the teams and the team members. We can provide teams with the relationships they need to succeed and ultimately work towards a better future&mdash;together... 

    .l-ongoing-solutions-wrapper
      .l-ongoing-solutions-content
        h2#projects Projects
        p There are currently several open-source projects that are being used to help solve problems of the refugee crisis. This is just the beginning of what is possible. Feel free to take a look at these projects and let us know by submitting your details below if you'd like to offer your skills.
        ul
          li
            a(href="http://http://refugeeinfo.eu/") Refugee Info — Critical information for refugees arriving in Greece
          li
            a(href="http://lale.help/") Lale — Complete task management system for volunteer communities
          li
            a(href="http://myrefuge.world/") MyRefuge — Airbnb for refuge seekers and providers
          li
            a(href="http://www.wefugee.org/k") Wefugee — Q&A For refugees
          li
            a(href="http://refugeemaps.org/") RefugeeMaps - Mapping grassroot refugee aid across the world
             
    section#help.l-help-wrapper
      .l-help-content
        h2 We Need Your Help
        p Based upon the research we have gathered from refugees, refugee representatives and organizations like Refugees Welcome, we need urgent help in the following disciplines:
        ul
          li Ethnography & User Research
          li Human-Centered Design
          li Web Development & Architecture
          li Social Media & Digital Marketing
          li
            strong Others*
            
        p *If your skillset isn't listed above and you'd like to get involved, please contact us. The need for passionate professionals with relevant skills is immense. We enjoy matching skilled workers with meaningful projects that make a significant impact on helping the refugee crisis.

    section#join.l-join-wrapper
      .l-join-content
        h2 Request an Invite
        p If you are a skilled profession interested in working to help the solve some of the problems of refugee crisis, please provide us with your details below. 
        p Upon receiving your request, we will email you to schedule an interview. Interviewing each potential team member ensures that we continue toward our purpose: 
        p
          strong To create a global community of digital workers collaborating to help solve the refugee crisis&mdash;one small problem at a time.
          
        form.l-join-form(action='https://docs.google.com/forms/d/1w-8-OnbACv5M7c4KEHJtjXnDGwiPj_vnf7Lw9ereVow/formResponse', method='POST')
          label(for='name') name
            span.required *
            input#name(type='text' name='entry.372718999', placeholder='Jane Smith', required)
          label(for='email') email
            span.required *
            input#email(type='email', name='entry.56111174', placeholder='name@address.com', required)
          label(for='organization') organization
            input#organization(type='text', name='entry.839901740', placeholder='Company Y')
          label(for='role') role
            input#role(type='text', name='entry.790371713', placeholder='UX Designer')
          label(for='reason') why you want to join
            span.required *
            textarea#reason(name='entry.1562080588', placeholder="Please explain why you would like to join our team and why you want to help solve the refugee crisis...", required)
          input(type='submit' value='submit' class="button")

block page-script
  script.
    (function($){
      // Form Validation
      var $form = $('.l-join-form');

      $form.validate({
        rules: {
          // Name field
          'entry.372718999': {
            required: true,
            minlength: 2,
            maxlength: 25
          },
          // Email field
          'entry.56111174': {
            required: true,
            email: true
          },
          // Reason field
          'entry.1562080588': {
            required: true,
            minlength: 2,
            maxlength: 5000
          }
        },
        messages: {
          // Name field
          'entry.372718999': 'What is your name?',
          // Email field
          'entry.56111174': {
            required: 'What is your email?',
            email: 'Please enter a valid email address.'
          },
          // Reason field
          'entry.1562080588': {
            required: 'Please include a short message',
            minlength: 'If you would please include a short message, I will be able to get back to you with more information.',
            maxlength: 'Please write a message less than 5,000 characters.'
          }
        }
      });
    }(jQuery));