extends views/layouts/default

block content
  article.main-content(role='main')
    .l-welcome-wrapper
      hgroup.l-welcome-header
          h1 Join The Team
          h2.subheader We're a global community of digital workers collaborating to help solve the problems of the refugee crisis.
        
    section#situation.l-situation-wrapper
      .l-situation-content
        h2 The Situation
        ul
          li 59.5 million displaced people worldwide
          li 19.5 million refugees
          li $27 million spent per day on relief and aid for displaced people
          li Over 50,000 organizations are working to solve this problem in different ways.

    section#problem.l-problem-wrapper
      .l-problem-content
        h2 The Problem
        ul
          li People are being forced at gunpoint to join IS, leave or die
          li People are hungry, thirsty and in desperate need of shelter
          li People are dying all across Europe
          li
            strong The organizations working on the crisis don't have the luxury to step back and create proactive solutions, they only have time to react.

    section#solution.l-solution-wrapper
      .l-solution-content
        h2 The Solution
        h3 Step 1: build local and global communities
          i.i-checkbox-checked 
        p We have a team of passionate and skilled professionals collaborating to solve the problems of the refugee crisis from across the globe. We're using 
          a(href="https://slack.com") Slack
          |  to communicate in real time and we are growing fast. If you're interested in starting an STRC meetup in your city, 
          a(href="mailto:admin@solvetherefugeecrisis.com?subject=STRC%20Meetup") send us a message.
          
        h3 Step 2: discover problems
          i.i-checkbox-unchecked
        p We are currently researching the problems that refugees, refugee representatives and organizations like  
          a(href="http://refugees-welcome.net") Refugees Welcome
          |  are facing amidst the crisis. We are interviewing founders and workers in organizations all over the world and discussing the problems we discover with our team on the Slack channel.
            
        h3 Step 3: pick a problem to solve
          i.i-checkbox-unchecked
        p Once we are confident that we have documented a sufficient range of problems, we'd like to sift through our research to choose a specific problem to solve that matches our criteria:
        
        ul
          li 
            strong Solvable 
            | with design & technology
          li Would allow 
            strong unobtrusive 
            | prototyping & testing
          li Has a 
            strong parter organization 
            | that needs the problem solved
          li Solutions could be 
            strong measurable
        
        h3 Step 4: solve the problem
          i.i-checkbox-unchecked
        p We are going to colocate with our parter organization and apply a collaborative human-centered design process to prototype a solution. With a working prototype, we will test and measure its effectiveness and iterate into production.
        
        h3 Step 5: document process
          i.i-checkbox-unchecked
        p As we solve the problem, we are going to document our process so that we can turn it into an open-source field guide for other teams who want to solve a specific problem of the refugee crisis.
        
        h3 Step 6: empower teams
          i.i-checkbox-unchecked
        p With a working solution, field guide and body of documented problems&mdash;we want to empower other self-forming teams to replicate our process and solve another problem of the refugee crisis.
        
        p Our growing community of expert mentors can support the teams and the team members. We can provide teams with the relationships they need to succeed and ultimately work towards a better future&mdash;together... 

    .l-ongoing-solutions-wrapper
      .l-ongoing-solutions-content
        h2 Ongoing Solutions
        p There are currently several open-source projects that are being used to help solve critical problems of the refugee crisis. This is just the beginning of what is possible. Feel free to take a look at these projects and let us know by submitting your details below if you'd like to get involved.
        ul
          li
            a(href="http://http://refugeeinfo.eu/") Refugee Info — Critical information for refugees arriving in Greece
          li
            a(href="https://github.com/osTicket/osTicket-1.8") osTicket — Open source support ticket system used by Refugees Welcome
          li
            a(href="http://www.wefugee.org/k") Wefugee — Q&A For Refugees
            
    section#help.l-help-wrapper
      .l-help-content
        h2 We Need Your Help
        p Based upon the research we have gathered from refugees, refugee representatives and organizations like Refugees Welcome, we need urgent help in the following disciplines:
        ul
          li Agile Project Management
          li Ethnographers
          li User Research
          li UX Design
          li UI Design
          li Front-End Development
          li Full-Stack Engineering & Architecture
          li Social Media & Digital Marketing
          li
            strong Many more*
            
        p *If your skillset isn't listed above and you'd like to get involved, please contact us. The need for skilled human resources is immense and we could always use more help.

    section#join.l-join-wrapper
      .l-join-content
        h2 Request an Invite
        p If you are a creative problem solver interested in working to solve the refugee crisis, please provide us with your details below. 
        p Upon receiving your request, we will email you to schedule an interview. Interviewing each potential team member ensures that we continue toward our purpose: 
          strong To create a global community of digital workers collaborating to solve the problems of the refugee crisis.
          
        form.l-join-form(action='http://formspree.io/admin@solvetherefugeecrisis.com', method='POST')
          label(for='your-name') name
          input#your-name(type='text', required='', name='your-name', placeholder='Jane Smith', autocomplete='name')
          label(for='your-email') email
          input#your-email(type='email', required='', name='your-email', placeholder='name@address.com', autocomplete='email')
          label(for='your-name') organization
          input#your-name(type='text', required='', name='your-organization', placeholder='Company Y')
          label(for='your-name') role
          input#your-name(type='text', required='', name='your-organization', placeholder='UX Designer')
          label(for='your-reason') why you want to join
          textarea#your-reason(name='your-reason', placeholder="Please explain why you would like to join our team and why you want to help solve the refugee crisis...")
          input(type='submit' value='submit' class="button")
