extends views/layouts/default

block vars
  - var page = { }
  - page.title = site.title
  - page.description = site.description
  - page.url = site.domain
  - page.image = site.domain + 'images/refugee-community-welcome-bg.jpg'

block content
  article.main-content(role='main')
    .l-welcome-wrapper
      section.l-welcome-text
        hgroup
          h1 Refugee Community
          h2.subheader
            | Join people around the world taking action
            br
            | to help refugees.
        a.button(href='#join') join now
    section.l-welcome-slack-wrapper
      figure.l-welcome-slack-content
        img(srcset='images/slack-channel-on-mackbook-900x528.jpg, images/slack-channel-on-mackbook-900x528@2x.jpg 2x', src='images/slack-logo.png', alt='slack gif on iphone')
        figcaption
          em
            | We&apos;re a global a team on
            a(href='https://slack.com/') Slack
            | &mdash;a free team communication app with a world-class user experience.
    .l-about-bg
      section#about.l-about-wrapper
        .l-about-content
          h2 About
          p.drop-cap
            | Refugee Community is a free online forum for people who want to take action and help refugees. Whether you are looking to create a startup, setup a charity or simply want to learn how to get involved&mdash;this is a place where you can ask questions, provide answers and learn from others who are currently helping refugees.
    section#situation.l-situation-wrapper
      .l-situation-content
        h2 The Situation
        p
          | There are several different organizations like 
          a(href='http://www.refugees-welcome.net/') Refugees Welcome
          |  sprouting up 
          a(href='http://www.refugees-welcome.org.uk/') across Europe
          | . Many of them face similar difficulties: Communication is scattered, complexity is high and problems vary between countries.
        p
          | Refugee Community aims to centralize communication for the refugee crisis in Europe, making it easier to get involved and easier to stay connected no matter where you are.
    section#help.l-help-wrapper
      .l-help-heading-bg
        .l-help-heading-wrapper
          .l-help-heading-content
            h3
              | We cannot do this alone.
              br
              |                   We need to work together.
      .l-help-content
        h2 We Need Your Help.
        p
          | If three Dutch entrepreneurs could create an 
          a(href='http://www.refugeehero.com/') Airbnb for refugees
          |  in three days, what would happen if the brightest minds around the world worked together to solve the problems at hand? What kind of solutions would we see?
        p
          | How could we break this problem into smaller parts? How could we apply the best of technology and design to help solve the problems of the refugee crisis?
        p
          | If you want to help, request an invite to join our community and become part of the team. We are determined to face the complexity of this problem together and create innovative solutions that can save lives.
        p
          | If you&apos;d like to engage your local community&mdash;we&apos;d love your help in organizing Refugee Community meetups.
        a.button(href='/#join') join now
    section#join.l-join-wrapper
      .l-join-content
        h2 Request an Invite
        form.l-join-form(action='http://formspree.io/admin@refugee.community', method='POST')
          label(for='your-name') your name
          input#your-name(type='text', required='', name='your-name', placeholder='Jane Smith', autocomplete='name')
          label(for='your-email') your email
          input#your-email(type='email', required='', name='your-email', placeholder='janesmith@address.com', autocomplete='email')
          label(for='your-reason') why you want to join
          textarea#your-reason(name='your-reason', placeholder="Please provide a short explanation of why you'd like to join the Refugee Community on Slack...")
          input(type='submit', value='sign up for free')
