extends views/layouts/default
  
block content
  article.main-content(role='main')
    .l-welcome-wrapper
      hgroup.l-welcome-header
        h1 STRC Playbook
        h2.subheader Coming Soon...
        p STRC Playbook was inspired by Thoughtbot's Playbook. It is documentation for everything at STRC&mdash;from volunteer recruitment, interviewing, and onboarding to working on projects and collaboration.
