extends views/layouts/default
  
block content
  article.main-content(role='main')
    .l-playbook-welcome-wrapper
      hgroup.l-playbook-welcome-header
        h1 Playbook
        h2.subheader A living document written by the STRC team

  section.l-playbook-wrapper
    .l-playbook-content
      h2 Introduction
      p This playbook details how we do what we do and 
        em why 
        | . From volunteer recruiting to new member onboarding, and from decision making to conflict resolution&mdash;this Playbook expresses our core values, and declares our critical assumptions. It is a central hub for STRC as individuals, the organization as a whole, and the community we aim to serve.
      
      h3 purpose
      p At STRC, purpose is at the heart of everything we do. It is constantly evolving and reflects each individual as the organization as a whole. We express our purpose through our actions, in our writing, and in our lives. Here is STRC's current expressed purpose: 
        em To create a community of digital workers collaborating to help solve the refugee crisis&mdash;one small problem at a time.
        
      h3 people
      p We are a people-first organization. STRC is a community of individuals working towards a shared vision, supported by a shared purpose, and motivated by shared values. When making decisions at STRC&mdash;no matter how big or small&mdash;people are the top priority: 
        ul
          li
            em What are the needs of the people we aim to serve?
          li
            em How are we equipped to help serve their needs?
          li
            em What are the needs of the people I work with?
          li
            em How can I help serve their needs?
            
      p We believe people are happier when they are able to fulfill multiple roles as opposed to being constrained by a single 'job title'. Our organization is more flexible that other work environments because of this and allows people to switch roles and fulfill demand based upon their needs (as well as the needs of others).
      
      h3 trust
      p Trust is the basis of all that we do. We believe that people are good by nature and deserve to be trusted (unless proven otherwise). We understand that people are imperfect, and thus forgiveness is an integral element in our foundation of trust. We trust 
        em any person
        | to make 
        em any decision 
        |  within the organization. We trust people to set budgets, choose their salary, and act in the best interest of the company.
      p We invest a lot of money and attention into how decisions are made and how conflict is resolved. That investment thrives in the trust we place in one another.
      
      h3 learning
      p At STRC, we believe that everyone has something to teach and something to share. Alone we can do nothing, but together, nothing is impossible. 
      
      p Fostering a healthy and constructive learning environment is crucial to our work in the refugee crisis. The problems we face are complex and immense. These problems require radical collaboration where the intelligence of the whole organization takes hold. Learning new skills, new communication methods, and new tools is an ongoing process at STRC.
      
      p We want each member of our team to learn something new every single day and to share that learning with the rest of the team and with the community.
      
      h2 New Team Members
      p Whether you're joining as a volunteer, paid staff member, an advisor or an investor&mdash;we focus a lot of our attention in how we attract and welcome new people to the team. For some, the principles, processes and structures of STRC are unfamiliar and can even be uncomfortable. We acknowledge this reality and want to do our best to help you become a confident contributing member of our community&mdash;no matter what role you play or what you have to offer. 
      
      p If anything seems confusing, doesn't feel right, or could be improved&mdash;please voice your concerns however you feel comfortable. We are constantly looking to improve. Communication is the calibrating force of all our efforts.
      
      p We have fource 
        strong task forces 
        | dedicated to helping new team members join STRC:
      
      h3 recruiting
      p The recruiting task force is responsible for creating shared understanding about STRC's purpose, vision and values. This is all about creating and maintaining relationships with passionate professionals who share our purpose. If anyone is attracted by our collective journey they are welcome to contact an STRC member or request an invite from 
        a(href="/") our website.
      
      h3 assessment
      p Above everything else, we want to attract new team members that share our purpose, vision and values. Our ability to assess potential team members is key to our success as an organization. We are looking to build balanced teams of individuals that are diverse, exhibit integrity, and dedicated to mastery. There are a few questions we must answer when assessing potential team members:
      ul
        li 
          em Does this person's individual purpose fit with organizational purpose?
        li
          em What is their story? Why do they want to join STRC?
        li
          em Do they exhibit humility and a desire to learn?
      
      p The assessment process tends to look something like this:
      
      img(src="images/new-team-member-assessment-process.jpg", alt="the typical process of asessing a new STRC team member")
      
      p If you are joining the 'Assessment' task force, we use a few tools that make this process a bit easier.
      
      h4 Scheduling Interviews
      p STRC has an account at 
        a(href="https://youcanbook.me/") youcanbook.me 
        | that allows team members to easily schedule and reschedule new team member interviews. Whoever is responsible for onboarding you to STRC should set you up with an account using our scheduling tool to make your life a bit easier.
      
      h3 onboarding 
      p When a new person decides to join STRC, it is important that we provide them with the information, tools and mindsets necessary to become a contributing member to the team. One of the roles of our  
        a(href="/playbook.html") Playbook 
        | is to centralize all the information necessary for a new team member to get up to speed with contributing at STRC. 
      p The role of onboarding is to add new team members to our tools and provide support with becoming a contributing member to STRC. Onboarding tends to look something like this:
        
      img(src="images/new-team-member-onboarding-process.jpg", alt="the typical process of onboarding a new STRC team member")
      
      h3 contributing
      p Once a team member has been onboarded onto STRC and is up and running with all the tools necessary to contribute, they're asked to introduce themselves to the team on Slack and offer their services to any of the existing 
        strong projects 
        | and or 
        strong task forces
        | .
      p STRC team members work in teams to accomplish any given project task. Working in teams allows learning to take place and maintains transparency and accountability. Given most STRC team members are volunteers who have full-time jobs, it also makes it easier when two people can work an a task together and ensure that the task will be completed in a timely manner.
      p Whenever a task is assigned to a pair, we also try and set reasonable task completion deadlines. We want people to maintain a healthy work-life balance and also to add value to the project using their given skillset.
      
      h3 tools
            
      h4 Slack
      p We use Slack, a world-class team communication app, to speak to each other in real-time from across the globe. Slack is a very useful and versatile tool that allows us to group conversations into relevant channels and teams. It also provides a central place to share files. We connect Slack to Trello and Github to the 
        a(href="https://solvetherefugeecrisis.slack.com/messages/general/") STRC Team on Slack
        | . For team members who have never used Slack before and want some guidance, watch 
        a(href="http://quick.as/ral8hgryp") Getting Started with Slack on STRC.
        
      h4 Trello
      p We use Trello to manage projects. It is a simple tool that is built upon a few basic models:
      
      ul
        li boards
        li lists
        li cards
      
      p We have a Trello board for each project at STRC. We use lists to structure our tasks under the 
        a(href="http://kanbanblog.com/explained/") Kanban 
        | management technique. We create one card for each task, and assign relevant team members to each card so we know who is responsible for each task in progress.
        
      p Each new team member should be added to the relevant 
        a(href="https://trello.com/strcteam") STRC Trello boards.
        |  If you've never used 
        a(href="https://trello.com/") Trello
        |  and want some guidance, watch 
        a(href="http://quick.as/ljlksly1q") Getting Started with Trello on STRC.
        
      h4 Github
      p We use Github to collaborate on all of our code-centered projects. Our website and playbook are available as open-source projects on github: 
        a(href="https://github.com/johnellison/solve-the-refugee-crisis") solve-the-refugee-crisis
        | . If you're looking to contribute, you'll want to get comfortable using Git and Github.
      
      hr
      
      h2 Inspiration
      p STRC Playbook was inspired by 
        a(href="http://playbook.thoughtbot.com/") Thoughtbot's Playbook.
