extends views/layouts/default
  
block content
  article.main-content(role='main')
    .l-playbook-welcome-wrapper
      hgroup.l-playbook-welcome-header
        h1 Playbook
        h2.subheader A living document written by the STRC team

  header.l-playbook-header-content
    h2 Table of Contents
    ol.m-table-of-contents
      
  hr
        
  section.l-playbook-wrapper
    .l-playbook-content
      h2#introduction Introduction
      p This playbook details how we do what we do and 
        strong why 
        | . From volunteer recruiting to new member onboarding, and from decision making to conflict resolution&mdash;this Playbook expresses our core values, and declares our critical assumptions. It is a central hub for STRC as individuals, the organization as a whole, and the community we aim to serve.
      
      h2#values Values
      
      h3 purpose
      p At STRC, purpose is at the heart of everything we do. It is constantly evolving and reflects each individual as well as the organization as a whole. We express our purpose through our actions, in our writing, and in our lives. Here is STRC's current expressed purpose: 
        strong To create a community of digital workers collaborating to help solve the refugee crisis&mdash;one small problem at a time.
        
      h3 people
      p We are a people-first organization. STRC is a community of individuals working towards a shared vision, supported by a shared purpose, and motivated by shared values. When making decisions at STRC&mdash;no matter how big or small&mdash;people are the top priority: 
        ul
          li What are the needs of the people we aim to serve?
          li How are we equipped to help serve their needs?
          li What are the needs of the people I work with?
          li How can I help serve their needs?
            
      p We believe people are happier when they are able to fulfill multiple roles as opposed to being constrained by a single 'job title'. Our organization is more flexible than other work environments because of this and allows people to switch roles and fulfill demand based upon their needs (as well as the needs of others).
      
      h3 trust
      p Trust is the basis of all that we do. We believe that people are good by nature and deserve to be trusted (unless proven otherwise). We understand that people are imperfect, and thus forgiveness is an integral element in our foundation of trust. We trust 
        strong any employee 
        | to make 
        strong any decision 
        |  within the organization provided they follow the 
        a(href="#communication") advice process
        | . We trust people to set budgets, choose their salary, and act in the best interest of the company.
      p We invest a lot of money and attention into how decisions are made and how conflict is resolved. That investment thrives in the trust we place in one another.
      
      h3 learning
      p At STRC, we believe that everyone has something to teach and something to share. Alone we can do nothing, but together, nothing is impossible. 
      
      p Fostering a healthy and constructive learning environment is crucial to our work in the refugee crisis. The problems we face are complex and immense. These problems require radical collaboration where the intelligence of the whole organization takes hold. Learning new skills, new communication methods, and new tools is an ongoing process at STRC.
      
      p We want each member of our team to learn something new every single day and to share that learning with the rest of the team and with the community.
      
      h2#new-team-members New Team Members
      p Whether you're joining as a volunteer, paid staff member, an advisor or an investor&mdash;we focus a lot of our attention in how we attract and welcome new people to the team. For some, the principles, processes and structures of STRC are unfamiliar and can even be uncomfortable. We acknowledge this reality and want to do our best to help you become a confident contributing member of our community&mdash;no matter what roles you play or what skills you offer. 
      
      p If anything seems confusing, doesn't feel right, or could be improved&mdash;please voice your concerns however you feel comfortable. We are constantly looking to improve. Communication is the calibrating force of all our efforts.
      
      p We have a New Member 
        strong task force
        | dedicated to helping new team members join STRC. It is comprised of three roles:
        
      ul
        li Recruit
        li Assess
        li Onboard
        
      p If you are looking to contribute to the New Member task force, check out the Trello board 
        a(href="https://trello.com/b/iQgwzyvb/strc-taskforce-new-team-members") STRC Taskforce: New Members
        | .
      
      h3 recruit
      p The recruiting task force is responsible for creating shared understanding about STRC's purpose, vision and values. This is all about creating and maintaining relationships with passionate professionals who share our purpose. If anyone is attracted by our collective journey they are welcome to contact an STRC member or request an invite from 
        a(href="/") our website.
      
      h3 assess
      p Above everything else, we want to attract new team members that share our purpose, vision and values. Our ability to assess potential team members is key to our success as an organization. We are looking to build balanced teams of individuals that are diverse, exhibit integrity, and are dedicated to mastery. Rather than prescribe a list of questions we ask potential team members, we let the assessment personnel decide the best approach. However, there are a few questions we must answer when assessing potential team members:
      ul
        li Does this person's individual purpose fit with our organizational purpose?
        li What is their story?
        li Why do they want to join STRC?
        li Do they exhibit humility and a desire to learn?
        li What kind of weekly time commitment can they offer?
      
      p The assessment process tends to look something like this:
      
      img(src="images/new-team-member-assessment-process.jpg", alt="the typical process of assessing a new STRC team member")
      
      h3 onboard
      p When a new person decides to join STRC, it is important that we provide them with the information, tools and mindsets necessary to become a contributing member to the team. One of the roles of our  
        a(href="/playbook.html") Playbook 
        | is to centralize all the information necessary for a new team member to get up to speed with contributing at STRC. 
      p The role of onboarding is to add new team members to our tools and provide support with becoming a contributing member to STRC. Onboarding tends to look something like this:
        
      img(src="images/new-team-member-onboarding-process.jpg", alt="the typical process of onboarding a new STRC team member")
      
      h4 Add New Member to Tools
      p Here is a typical process for adding new team members to the tools we use at STRC:
      ul
        li Invite to join our 
          a(href="https://solvetherefugeecrisis.slack.com/messages/general/") Slack Team
        li Add to 
          a(href="https://trello.com/strcteam/members") STRC Team on Trello
        li Share the 
          a(href="https://drive.google.com/open?id=0B4IfPBq2PFbCUGs0ZkNXRzJPSXM") STRC Docs
          |  folder on Google Drive
        li Invite to join the 
          a(href="https://github.com/organizations/solve-the-refugee-crisis/invite") STRC organization on Github
      
      h4 Email Links & Offer Help
      p We provide a simple 
        a(href="https://drive.google.com/open?id=13x4RUSB9FsO45hkHfgHrBgwLupXXPYVK5NHDPJ6FNxo") STRC Onboarding Email Template
        |  to make onboarding new team members easier and more consistent.
      
      h3 contributing
      p Once a team member has been onboarded onto STRC and is up and running with all the tools necessary to contribute, they're asked to introduce themselves to the team on Slack and offer their services to any of the existing 
        strong projects 
        | and/or 
        strong task forces
        | .
      p STRC team members work in pairs to accomplish any given project task. Working in pairs facilitates learning and maintains transparency and accountability. Given most STRC team members are volunteers who have full-time jobs, it also ensures that the task will be completed in a timely manner.
      p Whenever a task is assigned to a pair, we also set reasonable task deadlines. We want people to maintain a healthy work-life balance and also to complete tasks efficiently.
      
      h2#time Time
      p Volunteers make a specific time commitment to STRC in regards to:
      ul
        li how much 
          strong time per week 
          | they volunteer
        li how many 
          strong months 
          | they'd like to work with us. 
      
      p We usually recommend starting with a small commitment of 
        strong time per week 
        | and increasing involvement organically if necessary.
      
      p Knowing how many 
        strong months 
        | a team member is with us helps set expectations with project teams and task forces. It also allows for a clear and solid resolution to each person's involvement with STRC. 
      
      p At the end of each volunteer's commitment, we ask them whether they'd like to commit to another chapter with us or if we can celebrate their involvement and help them move onto their next destination.
      
      h3 80/20 principle
      p We encourage STRC team members to invest their time as follows:
      ul
        li 80% on 
          strong projects
        li 20% on 
          strong task forces
      
      img(src="images/80-20-principle.jpg", alt="the 80/20 principle at solve the refugee crisis")
      
      h2#communication Communication
      p At STRC we place a lot of attention on communication. Because of the complexities that we face as an organization, our ability to communicate is integral to our success. We like to define several explicit communication protocols when it comes to 
        strong decision making 
        | and 
        strong conflict resolution
        | .
            
      h3 decision making 
      p We follow in the footsteps of other Teal organizations in employing an 
        strong advice process 
        | when making decisions in our organization.
        
      p The advice process is simple: Any employee can make any decision within the organization provided they consult the advice of all potentially affected parties. This includes other employees, vendors, stakeholders, shareholders, the community and the environment.
      
      p Failing to adhere to the advice process is one of the only behaviors that warrants dismissal from STRC. We trust our employees with great responsibility and we expect the advice process to be followed at all times. The advice process applies to everyone within the organization: volunteers, paid staff, founders, etc.
      
      h3 conflict resolution
      p Unlike other organizations who avoid conflict and have no formal processes for resolving conflict, we adhere to a strict conflict resolution procedure. Whatever the topic, the process starts with one person asking another to gain agreement:
      ul
        li As a first step, the two people in conflict meet to try and resolve the situation privately. The initiator makes a clear request for a solution (not a judgement or a demand). The other person responds clearly to the request with either a "yes" or proposes another solution.
        li If the two people can't find a solution, they choose a colleague to help mediate the conflict.
        li If the mediation fails, a relevant group of colleagues is gathered to listen and help form agreement between the two conflicting parties.
        li As a final effort, one of the founding members of STRC can be brought into the conversation to provide additional moral weight.
      
      h2#tools Tools
            
      h3 slack
      p We use Slack, a world-class team communication app, to speak to each other in real-time from across the globe. Slack is a very useful and versatile tool that allows us to group conversations into relevant channels and teams. It also provides a central place to share files. We connect Trello and Github to the 
        a(href="https://solvetherefugeecrisis.slack.com/messages/general/") STRC Team on Slack
        | . For team members who have never used Slack before and want some guidance, watch 
        a(href="http://quick.as/ral8hgryp") Getting Started with Slack on STRC.
        
      h3 trello
      p We use Trello to manage projects. It is a simple tool that is built upon a few basic models:
      
      ul
        li boards
        li lists
        li cards
      
      p We have a Trello board for each project at STRC. We use lists to structure our tasks under the 
        a(href="http://kanbanblog.com/explained/") Kanban 
        | management technique. We create one card for each task, and assign relevant team members to each card so we know who is responsible for each task in progress.
        
      p Each new team member should be added to the relevant 
        a(href="https://trello.com/strcteam") STRC Trello boards.
        |  If you've never used 
        a(href="https://trello.com/") Trello
        |  and want some guidance, watch 
        a(href="http://quick.as/ljlksly1q") Getting Started with Trello on STRC.
        
      h3 github
      p We use Github to collaborate on all of our code-centered projects. Our website and playbook are available as open-source projects on github: 
        a(href="https://github.com/organizations/solve-the-refugee-crisis") solve-the-refugee-crisis
        | . If you're looking to contribute, you'll want to get comfortable using Git and Github.
      
      h3 you can book me
      p STRC has an account at 
        a(href="https://youcanbook.me/") youcanbook.me 
        | that allows team members to easily schedule and reschedule meetings with internal and external parties. This is especially useful for scheduling interviews with potential team members.
        
      h3 lastpass
      p STRC uses 
        a(href="https://lastpass.com/") Lastpass
        |  to manage secure credentials like usernames and passwords.
      
      h2#community Community
      p STRC is built on the power of human community. We operate in global (digital) and local (physical)  communities&mdash;this combination is integral to our organizational identity. The problems we propose to solve rely on strong local communities supporting people in need. These local communities are then supported by distributed digital communities across the globe.
      p We believe that digital relationshiops should 
        strong enhance 
        | the power of in-person relationships&mdash;not replace them.
      h3 digital communities
      p Here are a list of the digital communities that help support STRC:
      ul
        li
          a(href="http://www.thefirehoseproject.com/") The Firehose Project
        li
          a(href="https://www.designerhangout.co/") User Experience Design on Slack
        li
          a(href="http://www.wiredsussex.com/") Wired Sussex
        li
          a(href="http://www.techfugees.com/") Techfugees
          
      p If you are a member or leader of a digital community and would like to add your community to this list, please feel free to fork this project and submit a pull request on the 
        a(href="https://github.com/johnellison/solve-the-refugee-crisis") Github repo
        | , or 
        a(href="mailto:john@solvetherefugeecrisis.com?subject=Digital%20Community") send us a message.
      
      h3 local communities
      p Here are a list of the local communities that help support STRC:
      ul
        li
          a(href="http://www.meetup.com/Solve-The-Refugee-Crisis-Brighton/") STRC Brighton
        li STRC Montbéliard (Coming Soon...)
      p If you would like to organize an STRC Meetup in your local community, please see the 'Organizing a Local Meetup' section below. Please feel free to  
        a(href="mailto:john@solvetherefugeecrisis.com?subject=Local%20Community") contact us 
        | if you need support. Once you have a meetup group, we would be happy to add it to the list.
      
      h4 Organizing a Local Meetup
      p These are meant to act as useful guidelines for organizing and facilitating a successful STRC meetup.
      
      h5 purpose
      p We carefully consider the purpose of each STRC meetup event. We have found that the best meetups occur when diverse groups of people come together under the umbrella of a shared purpose. How we articulate that purpose is crucial. It should be the seed from which all else grows.
      
      h5 audience
      p Having a meetup that represents a diverse range of audiences tends to facilitate the most healthy conversations. Consider creating a list of target audiences. This could include:
      ul
        li Designers
        li Developers
        li NGO staff
        li Refugee Community Organizations (RCO)
        li Refugee representatives
        li Refuge / asylum seekers
        li Refuge / asylum providers
        
      h5 location        
      p The right location and physical space for the meetup is key. A meetup venue which is welcoming, comfortable, spacious and convenient would be ideal.
      
      h5 sponsors
      p There are many organizations with funds, materials, time and space. There are fewer organizations willing to donate those resources to good causes, but still&mdash;those organizations do exist. It can be helpful to create a list of potential sponsors and what you'd like to ask from them. Rather than cold-calling people you don't know, it is almost always easier to go through your existing connections.
      
      h5 facilitation
      p Facilitation is key to a meetup's success. Depending on the purpose of our meetup event, we might employ different facilitation methods. If the purpose of the event is to facilitate conversation around how digital workers could help solve the refugee crisis&mdash;we've been successful with both one of these techniques:
      h6 Open Space
      ul
        li
          a(href="https://en.wikipedia.org/wiki/Open_Space_Technology") Open Space Technology Wikipedia
        li
          a(href="http://www.openspaceworld.org/files/tmnfiles/2pageos.htm") Open Space Primer
        li
          a(href="http://www.openspaceworld.com/users_guide.htm") Open Space User Guide
          
      h6 Lean Coffee
      ul
        li
          a(href="http://leancoffee.org/") LeanCoffee.org
        li
          a(href="http://agilecoffee.com/leancoffee/") Agile Coffee
        li
          a(href="http://scrumandkanban.co.uk/lean-coffee/") Lean Coffee Format
              
      h2#inspiration Inspiration
      p STRC Playbook was inspired by 
        a(href="http://playbook.thoughtbot.com/") Thoughtbot's Playbook.

block page-script
  script.    
    (function($){
      //- All h2 id's must come in the format of subject-heading-words
      //- For it to work as a link in the table of contents
      var $playbookContentH2s = $('.l-playbook-content h2');
      
      //- Create list items for each h2 in array
      for (var i = 0; i < $playbookContentH2s.length; i++) {
        var h2Text = $($playbookContentH2s[i]).text();
        
        //- Takes any text and removes spaces, capitals
        function convertToInPageLink(text) {
          return text.replace(/\s+/g, '-').toLowerCase();
        }
        
        //- Adds to the table of contents a link to each h2 in playbook
        $('.m-table-of-contents').append(
          $('<li>').append(
            $('<a>').attr('href', '#' + convertToInPageLink(h2Text)).append('<h6>' + h2Text + '</h6>')
        ));
      }
      
    }(jQuery));
