extends views/layouts/default
  
block content
  article.main-content(role='main')
    .l-welcome-wrapper
      hgroup.l-welcome-header
        h1 STRC Playbook
        h2.subheader Written by the STRC team
        p STRC Playbook was inspired by 
          a(href="http://playbook.thoughtbot.com/") Thoughtbot's Playbook
          | . It details how we collaborate to help solve the problems of the refugee crisis&mdash;one small problem at a time. From tools and process to values and principles, if you're interested in learning about STRC and how we work, you'll find it here.

  section.l-solution-wrapper
    .l-solution-content
      h3 Getting Started
      h4 1. Slack
      p If you've been interviewed by an STRC team member and have been given the thumbs-up to join our team, you will receive an invite to our 
        a(href="https://solvetherefugeecrisis.slack.com/messages/general/") Slack Team
        | . If you've never used Slack and want some guidance, watch 
        a(href="http://quick.as/ral8hgryp") Getting Started with Slack on STRC.
      h4 2. Trello
      p Once you've joined Slack, you should be added to the relevant 
        a(href="https://trello.com/strcteam") STRC Trello boards.
        |  If you've never used 
        a(href="https://trello.com/") Trello
        |  and want some guidance, watch 
        a(href="http://quick.as/ljlksly1q") Getting Started with Trello on STRC.
