extends views/layouts/default

block content  
  article.main-content(role='main').l-legal-docs-content
    h2 Privacy Policy
    p
      | Solve The Refugee Crisis (&quot;
      strong Solve The Refugee Crisis
      | &quot;) operates solvetherefugeecrisis.com and may operate other websites. It is Solve The Refugee Crisis&apos;s policy to respect your privacy regarding any information we may collect while operating our websites.
         
    h3 Website Visitors
    p
      | Like most website operators, Solve The Refugee Crisis collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Solve The Refugee Crisis&apos;s purpose in collecting non-personally identifying information is to better understand how Solve The Refugee Crisis&apos;s visitors use its website. From time to time, Solve The Refugee Crisis may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
    p
      | Solve The Refugee Crisis also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on blogs/sites. Solve The Refugee Crisis only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below, except that commenter IP addresses and email addresses are visible and disclosed to the administrators of the blog/site where the comment was left.
    h3 Gathering of Personally-Identifying Information
    p
      | Certain visitors to Solve The Refugee Crisis&apos;s websites choose to interact with Solve The Refugee Crisis in ways that require Solve The Refugee Crisis to gather personally-identifying information. The amount and type of information that Solve The Refugee Crisis gathers depends on the nature of the interaction. For example, we ask visitors who sign up  at 
      a(href='http://www.solvetherefugeecrisis.com') solvetherefugeecrisis.com
      |  to provide a username and email address. Those who engage in transactions with Solve The Refugee Crisis are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, Solve The Refugee Crisis collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor&apos;s interaction with Solve The Refugee Crisis. Solve The Refugee Crisis does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
    h3 Aggregated Statistics
    p
      | Solve The Refugee Crisis may collect statistics about the behavior of visitors to its websites. Solve The Refugee Crisis may display this information publicly or provide it to others. However, Solve The Refugee Crisis does not disclose personally-identifying information other than as described below.
    h3 Protection of Certain Personally-Identifying Information
    p
      | Solve The Refugee Crisis discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Solve The Refugee Crisis&apos;s behalf or to provide services available at Solve The Refugee Crisis&apos;s websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Solve The Refugee Crisis&apos;s websites, you consent to the transfer of such information to them. Solve The Refugee Crisis will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Solve The Refugee Crisis discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when Solve The Refugee Crisis believes in good faith that disclosure is reasonably necessary to protect the property or rights of Solve The Refugee Crisis, third parties or the public at large. If you are a registered user of an Solve The Refugee Crisis website and have supplied your email address, Solve The Refugee Crisis may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what&apos;s going on with Solve The Refugee Crisis and our products.  If you send us a request (for example via email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Solve The Refugee Crisis takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.
    h3 Cookies
    p
      | A cookie is a string of information that a website stores on a visitor&apos;s computer, and that the visitor&apos;s browser provides to the website each time the visitor returns. Solve The Refugee Crisis uses cookies to help Solve The Refugee Crisis identify and track visitors, their usage of Solve The Refugee Crisis website, and their website access preferences. Solve The Refugee Crisis visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Solve The Refugee Crisis&apos;s websites, with the drawback that certain features of Solve The Refugee Crisis&apos;s websites may not function properly without the aid of cookies.
    h3 Business Transfers
    p
      | If Solve The Refugee Crisis, or substantially all of its assets, were acquired, or in the unlikely event that Solve The Refugee Crisis goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Solve The Refugee Crisis may continue to use your personal information as set forth in this policy.
    h3 Ads
    p
      | Ads appearing on any of our websites may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Solve The Refugee Crisis and does not cover the use of cookies by any advertisers.
    h3 Privacy Policy Changes
    p
      | Although most changes are likely to be minor, Solve The Refugee Crisis may change its Privacy Policy from time to time, and in Solve The Refugee Crisis&apos;s sole discretion. Solve The Refugee Crisis encourages visitors to frequently check this page for any changes to its Privacy Policy. If you have a solvetherefugeecrisis.com account, you might also receive an alert informing you of these changes. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
