.site-header {
  background-color: $header-font-color;
  padding: $base-leading;
  font-weight: 300;

  h1.site-title, h2.menu-label {
    @include ms-respond(font-size, 1);
    margin: -0.7em 0 0 0;
  }

  h1.site-title {
    float: left;
    margin-top: -.7em;
    .site-title-text {
      display: none;
      @media all and (min-width: $homeNavBreak) {
        display: inline;
      }
    }
  }

  h2.menu-label {
    float: right;
    @media all and (min-width: $homeNavBreak) {
      display: none;
    }
    .menu-text {
      margin-right: 10px;
    }
    .menu-icon {
      @include burger(25px, 2px, 5px, white);
      border-radius: 3px;
      float: right;
      margin-top: 10px;
      &:after {
        border-radius: 3px;
      }
      &:before {
        border-radius: 3px;
        margin-bottom: 0;
      }
      &.is-open {
        @include burger-to-cross;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  nav.home-nav {
    width: 100%;
    // height: auto;
    @media all and (min-width: $homeNavBreak) {
      width: auto;
      float: right;
    }
  }

  ul.home-nav--list {
    margin: 3.6em 0 0 0;
    padding: 0;
    list-style: none;
    clear: left;
    @media all and (min-width: $homeNavBreak) {
      float: right;
      margin-top: -.7em;
    }
    li:not(.has-button) {
      border-bottom: 1px solid $secondary-color;
      @media all and (min-width: $homeNavBreak) {
        margin-right: .8em;
        padding-bottom: .35em;
        &:hover {
          border-bottom: darken($secondary-color, 10%);
        }
      }
    }
    li.has-button {
      margin-bottom: 0;
    }
    li {
      margin-bottom: .4em;
      text-align: center;
      @media all and (min-width: $homeNavBreak) {
        display: inline;
      }
      a {
        padding: .8em 0;
        margin-bottom: .4em;
        display: inline-block;
        width: 100%;
        @media all and (min-width: $homeNavBreak) {
          display: inline;
        }
        &.button {
          margin-top: .4em;
          @media all and (min-width: $homeNavBreak) {
            padding: .3em .8em .4em .8em;
          }
        }
      }
    }
  }
}