// Layout styles for the index page here
.content-section {
  border-bottom: 1px solid $secondary-color;
}
.l-welcome-text {
  background: $secondary-color;
  padding: $base-leading*4 $base-leading/2 $base-leading*6 $base-leading/2;
  br {
    display: none;
    @media all and (min-width: 605px) {
      display: inline;
    }
  }
}

.l-welcome-text, .l-welcome-slack-wrapper {
  text-align: center;
}

.l-welcome-text {
  .button {
    margin: 0 auto;
  }
}

.l-welcome-slack-wrapper, .about, .situation, .l-help-heading-wrapper {
  z-index: 1;
  background: white;
  margin-top: -2em;
  transform: skewY(-8deg);
  padding: $base-leading*2 $base-leading/2 $base-leading*4 $base-leading/2;
}

.l-help-heading-wrapper {
  background: $primary-color;
  padding: $base-leading $base-leading/4 $base-leading/2 $base-leading/4;
  // margin: 0 auto;
}

.l-help-heading-content {
  margin: 0 auto;
}

.l-welcome-slack-content,
.l-about-content,
.l-situation-content,
.l-help-heading-content {
  transform: skewY(8deg);
}

.about {
  background: lighten($secondary-color, 5%);
}

.about, .join-form {
  margin: 0 auto;
  @media all and (min-width: 650px) {
    width: 85%;
  }
  @media all and (min-width: 800px) {
    width: 65%;
  }
  @media all and (min-width: 950px) {
    width: 55%;
  }
  @media all and (min-width: 1200px) {
    width: 45%;
  }
}

.about {
  padding: $base-leading*2 $base-leading/2;
}

.join {
  background-color: $secondary-color;
}

.join-form {
  font-weight: 300;
  @media all and (min-width: 1440px) {
    width: 40%;
  }
}
