// Layout styles for the index page here

// Welcome
.l-welcome-wrapper {
  background: $secondary-color;
  transform: skewY(8deg);
  z-index: -1;
  @media all and (min-width: 700px) {
    padding-top: $base-leading;
  }
  @media all and (min-width: 900px) {
    padding-top: $base-leading*4;
    margin-top: -$base-leading*3;
  }
}

.l-welcome-text {
  padding: $base-leading*4 $base-leading/2 $base-leading*3 $base-leading/2;
  transform: skewY(-8deg);
  br {
    display: none;
    @media all and (min-width: 605px) {
      display: inline;
    }
  }
}

.l-welcome-text, .l-welcome-slack-wrapper {
  text-align: center;
}

.l-welcome-text {
  .button {
    margin: 0 auto;
  }
}

// This gives the cool angled Y line bg effect
.l-welcome-slack-wrapper, .l-situation-wrapper, .l-join-wrapper {
  z-index: 1;
  background: white;
  transform: skewY(-8deg);
  padding: $base-leading*2 $base-leading/2;
}

.l-welcome-slack-content {
  margin-top: -$base-leading;
}

// reverse transform to display straight text
.l-welcome-slack-content,
.l-about-content,
.l-situation-content,
.l-join-form {
  transform: skewY(8deg);
}

// About
.l-about-bg {
  background: $header-font-color;
  transform: skewY(-8deg);
}

.l-about-wrapper {
  background: lighten($secondary-color, 5%);
  padding: $base-leading*2 $base-leading/2;
}

.l-about-content {
  @media all and (min-width: 800px) {
    padding: 0 $base-leading;
  }
}

// Situation
.l-situation-wrapper, .l-help-content {
  margin: 0 auto;
  @media all and (min-width: 650px) {
    width: 90%;
  }
  @media all and (min-width: 800px) {
    width: 70%;
  }
  @media all and (min-width: 950px) {
    width: 60%;
  }
  @media all and (min-width: 1200px) {
    width: 50%;
  }
}

// Help

.l-help-heading-bg {
  background: $header-font-color;
  transform: skewY(-8deg);
  margin-bottom: $base-leading*2;
}

.l-help-heading-wrapper {
  background: $primary-color;
  display: flex;
  justify-content: center;
  h3 {
    margin: 0 0 -.5em 0;
  }
}

.l-help-heading-content {
  @media all and (min-width: 860px) {
    padding: $base-leading;
  }
  transform: skewY(8deg);
  h3{
    font-weight: 500;
    color: white;
  }
}

.l-help-content {
  padding: 0 $base-leading/2 $base-leading*3 $base-leading/2;

  @media all and (min-width: 860px) {
    padding: $base-leading $base-leading/2 $base-leading*3 $base-leading/2;
  }
}

// Liquid scalable content
.l-about-wrapper, .l-help-heading-wrapper, .l-join-form, .l-join-wrapper h2 {
  margin: 0 auto;
  @media all and (min-width: 650px) {
    width: 85%;
  }
  @media all and (min-width: 800px) {
    width: 65%;
  }
  @media all and (min-width: 950px) {
    width: 55%;
  }
  @media all and (min-width: 1200px) {
    width: 45%;
  }
}

.l-about-wrapper, .l-help-heading-wrapper, .l-join-wrapper {
  padding: $base-leading*2 $base-leading/2;
}

.l-join-wrapper {
  background-color: $secondary-color;
  padding-bottom: $base-leading*5;
  h2 {
    margin-top: 0;
    transform: skewY(8deg);
    &.success {
      color: $primary-color;
    }
  }
}

.l-join-form {
  font-weight: 300;
  @media all and (min-width: 1440px) {
    width: 40%;
  }
}
