// Layout styles for the index page here

// Welcome
.l-welcome-wrapper {
  background-size: cover;
  background-image: url('../images/refugee-community-welcome-bg.jpg');
  @media all and (min-width: 900px) {
    background-image: url('../images/refugee-community-welcome-bg-900x599.jpg');
  }
  @media all and (min-width: 1280px) {
    background-image: url('../images/refugee-community-welcome-bg-1280x852.jpg');
  }
  @media all and (min-width: 1900px) {
    background-image: url('../images/refugee-community-welcome-bg-1920x1278.jpg');
  }
  background-position: 65% 50%;
  max-height: 90vh;
  min-height: 400px;
  min-height: 70vh;
  display: table;
  display: flex;
  justify-content: center;
}

.l-welcome-text {
  padding: 20% 5%;
  display: table-cell;
  vertical-align: center;
  align-self: center;
  text-align: center;
  h1, h2 {
    color: white;
  }
  br {
    display: none;
    @media all and (min-width: 605px) {
      display: inline;
    }
  }
  .button {
    margin: 0 auto;
  }
}

.l-welcome-slack-wrapper {
  position: relative;
  background: $white;
  transform: skewY(-8deg);
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
    transform: skewY(16deg);
    top: 0;
  }
}

.l-welcome-slack-content {
  text-align: center;
  margin-top: -4%;
  transform: skewY(8deg);
  @include liquid-column;
  margin: 0 auto;
}

// About
.l-about-bg {
  transform: skewY(-8deg);
  background-image: url('../images/syrian-refugee-camp-with-syria-oxfam.jpg');
  @media all and (min-width: 800px) {
    background-image: url('../images/syrian-refugee-camp-with-syria-oxfam-800x534.jpg');
  }
  @media all and (min-width: 1024px) {
    background-image: url('../images/syrian-refugee-camp-with-syria-oxfam-1024x684.jpg');
  }
  @media all and (min-width: 1280px) {
    background-image: url('../images/syrian-refugee-camp-with-syria-oxfam-1280x854.jpg');
  }
  @media all and (min-width: 1900px) {
    background-image: url('../images/syrian-refugee-camp-with-syria-oxfam-1900x1282.jpg');
  }
  background-size: cover;
  background-position: 50% 50%;
}

.l-about-wrapper {
  margin: 0 auto;
  @include liquid-column;
  @include callout-bg($white)
}

.l-about-content {
  transform: skewY(8deg);
}

// Situation
.l-situation-wrapper {
  margin: 0 auto;
  @include liquid-column;
}

// Help
// Help Heading
.l-help-heading-bg {
  background-image: url('../images/refugee-children-drawings.jpg');
  background-size: cover;
  background-position: 50% 50%;
  @media all and (min-width: 800px) {
    background-image: url('../images/refugee-children-drawings-800x410.jpg');
  }
  @media all and (min-width: 1024px) {
    background-image: url('../images/refugee-children-drawings-1024x525.jpg');
  }
  @media all and (min-width: 1280px) {
    background-image: url('../images/refugee-children-drawings-1280x657.jpg');
  }
  @media all and (min-width: 1900px) {
    background-image: url('../images/refugee-children-drawings-1920x985.jpg');
  }
  transform: skewY(-8deg);
}

.l-help-heading-wrapper {
  display: flex;
  @include liquid-column;
  @include callout-bg($primary-color);
  margin: 0 auto;
}

// Help Heading Content
.l-help-heading-content {
  margin: 0 auto;
  transform: skewY(8deg);
  h3 {
    color: white;
  }
}

// Help Content
.l-help-content {
  @include liquid-column;
}

// Join
.l-join-wrapper {
  background-color: $secondary-color;
  padding-bottom: 5%;
  transform: skewY($global-skew);
}

.l-join-content {
  @include liquid-column;
  transform: skewY(-$global-skew);
  h2 {
    // margin: 0;
    text-align: center;
    &.success {
      color: $primary-color;
    }
  }
}

.l-join-form {
  font-weight: 300;
}
