<form action="https://docs.google.com/forms/d/1YZ0zdAHB07W2kuCIqTfwxadY7qjSfnoSWdbAjBb0lcY/formResponse" method="POST" class="academy-form">
  <label for="name">full name<span class="required">*</span>
    <input type="text" placeholder="jane smith" name="entry.473719223" required>
  </label>
  <label for="email">email<sup>*</sup>
    <input id="email" type="email" name="entry.1406085141" placeholder="name@address.com" required>
  </label>
  <label for="reason">message<sup>*</sup>
    <textarea id="reason" name="entry.630867410" placeholder="Please explain why you are interested in  Prosper Academy." required></textarea>
  </label>
  <input type="hidden" id="url" name="entry.173315658">
  <script>
    document.getElementById('url').value = window.location.href;
  </script>
  <input type="submit" value="submit" class="button">
</form>
