<footer class="l-site-footer">
  <section class="l-footer-columns-wrapper">
    <section id="contact" class="l-footer-column">
      <h4>Contact</h4>
      <ul class="l-social-icon-list">
        <li><a href="http://twitter.com/ProsperComm"><img src="{{root}}assets/img/twitter.svg" alt="twitter icon "></a></li>
        <li><a href="mailto:tasha@prosper.community?subject=Joining%20The%20Team"><img src="{{root}}assets/img/mail.svg" alt="email icon svg"></a></li>
        <li><a href="https://www.facebook.com/prospercommunity"><img src="{{root}}assets/img/facebook.svg" alt="facebook icon "></a></li>
        <li><a href="https://www.linkedin.com/company/prosper-community"><img src="{{root}}assets/img/linkedin.svg" alt="linkedin icon "></a></li>
        <li><a href="https://github.com/prosper-community"><img src="{{root}}assets/img/github.svg" alt="github icon "></a></li>
      </ul>
    </section>
    <section id="notes" class="l-footer-column">
      <h4>Resources</h4>
      <ul class="l-facts-figures-list">
        <li><a href="https://www.youtube.com/watch?v=RvOnXh3NN9w">The Refugee Crisis Explained</a></li>
        <li><a href="https://medium.com/uprooted/what-refugees-ask-when-they-arrive-in-europe-e09c72c80ea9#.3x17739fz">What Refugees Ask When They Arrive in Europe</a></li>
        <li><a href="http://www.unhcr.org.uk/about-us/key-facts-and-figures.html">UNHCR Key Facts and Figures</a></li>
      </ul>
    </section>
    <section id="privacy-and-terms" class="l-footer-column">
      <h4>More</h4>
      <ul>
        <li><a href="/events.html">Events</a></li>
        <li><a href="/privacy-policy.html">Privacy Policy</a></li>
        <li><a href="/terms-of-service.html">Terms of Service</a></li>
      </ul>
    </section>
  </section>
</footer>
