<div class="title-bar" data-responsive-toggle="site-nav" data-hide-for="large">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<header class="site-header" id="site-nav">
  <nav class="top-bar">
    <section class="top-bar-left">
      <ul class="vertical medium-horizontal menu">
        <li><a href="/" class="logo">prosper</a></li>
        <li><a href="/search.html">Search</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="http://blog.prosper.community">Blog</a></li>
        <li><a href="https://www.generosity.com/emergencies-fundraising/prosper-the-world-s-refugee-projects-in-one-place">Donate</a></li>
      </ul>
    </section>
      <section class="top-bar-right">
        <ul class="horizontal menu">
          <li>
            <a href="https://www.facebook.com/prospercommunity" id="facebook" class="social-icon"></a>
          </li>
          <li>
            <a href="https://twitter.com/prospercomm" id="twitter" class="social-icon"></a>
          </li>
          <li>
            <a href="https://github.com/prosper-community" id="github" class="social-icon"></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/prosper-community" id="linkedin" class="social-icon"></a>
          </li>
        </ul>
        <!-- <ul class="vertical medium-horizontal menu l-social-icon-list" data-responsive-menu="drilldown large-dropdown">
          <li><a href="http://twitter.com/ProsperComm"><img src="{{root}}assets/img/twitter.svg" alt="twitter icon "></a></li>
          <li><a href="mailto:tasha@prosper.community?subject=Joining%20The%20Team"><img src="{{root}}assets/img/mail.svg" alt="email icon svg"></a></li>
          <li><a href="https://www.facebook.com/prospercommunity"><img src="{{root}}assets/img/facebook.svg" alt="facebook icon "></a></li>
          <li><a href="https://www.linkedin.com/company/prosper-community"><img src="{{root}}assets/img/linkedin.svg" alt="linkedin icon "></a></li>
          <li><a href="https://github.com/prosper-community"><img src="{{root}}assets/img/github.svg" alt="github icon "></a></li>
        </ul> -->
      </section>
    </ul>
  </nav>
</header>
