<header class="site-header">
      <h1 class="site-title"><a href="/"><span class="site-logo">Prosper</span><span class="site-title-text">Prosper</span></a></h1>
      <h2 class="menu-label"><a href="javascript:void(0)"><span class="menu-text">Menu</span><span class="menu-icon"><span></span></span></a></h2>
      <section class="nav">
        <nav class="site-nav">
          <ul class="site-nav--list">
            <li><a href="/">Home</a></li>
            <li><a href="/playbook.html">Playbook</a></li>
          </ul>
        </nav>
        <nav class="home-nav">
          <ul class="home-nav--list">
            <li><a href="/#academy">Academy</a></li>
            <li><a href="/#projects">Projects</a></li>
            <li><a href="/#volunteer">Volunteer</a></li>
            <li><a href="/#team">Team</a></li>
            <li class="has-button"><a href="/#join" class="button">join now</a></li>
            <li class="login"><a href="https://prosper-community.slack.com/messages/general/">log in</a></li>
          </ul>
        </nav>
      </section>
    </header>
