<div class="title-bar" data-responsive-toggle="site-nav" data-hide-for="large">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<header class="site-header" id="site-nav">
  <nav class="top-bar">
    <section class="top-bar-left">
      <ul class="vertical medium-horizontal menu">
        <li><a href="/" class="logo">prosper</a></li>
        <li><a href="https://blog.prosper.community">blog</a></li>
        <li><a href="/playbook.html">playbook</a></li>
      </ul>
    </section>
      <section class="top-bar-right">
        <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown large-dropdown">
          <li><a href="who-we-are.html">who we are</a></li>
          <li><a href="journey.html">our journey</a></li>
          <li><a href="/#projects">projects</a></li>
          <li><a href="/volunteer.html#form" class="button">join now</a></li>
        </ul>
      </section>
    </ul>
  </nav>
</header>
