.button {
  display: block;
  font-weight: 700;
  // font-size: 1.4rem;
  @include smcps;
  background-color: $primary-color;
  padding: .2em 1.6em;
  text-decoration: none;
  text-align: center;
  color: $warm-grey;
  width: max-content;
  box-sizing: border-box;
  border-radius: $global-radius;
  transition: .2s all;
  border: none;
  &:hover {
    color: $white !important;
    background-color: darken($primary-color, 10%);
  }
  &.secondary {
    background: $medium-grey;
    color: $warm-grey;
    &:hover {
      color: $white;
      background-color: darken($medium-grey, 10%);
      border-color: darken($medium-grey, 10%);
    }
  }
  &.centered {
    margin: 0 auto;
  }
}
