.card {
  // border-radius: $global-radius;
  @include callout-base;
  background: $white;
  &> :first-child {
    margin: 0 auto $base-leading/2 auto;
  }
  h3 {
    text-align: center;
  }
}

.card--right {
  @extend .card;
  a.button {
    float: right;
  }
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
