.explore-next {
  width: 100%;
  display: flex;
  margin-top: -$base-leading*2;
  align-items: stretch;
  flex-flow: row wrap;
}

.explore-next__item {
  @extend .card;
  display: flex;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: $base-leading;
  @include breakpoint(large) {
    margin: 0;
    width: 50%;
    padding: 5rem 1rem;
  }
  border: none;
  transition: all 0.2s ease;
  color: $white;
  background: $dark-gray no-repeat center center;
  background-size: cover;
  overflow: hidden;
  h4 {
    color: white;
  }
  &:hover {
    color: $white;
    .explore-next__page:before {
      color: $dark-gray;
      background: $white;
      transition: all 0.2s ease;
    }
  }
  &:hover:before {
    background: rgba(0,0,0,0.2);
    transition: all 0.2s ease;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all 0.5s ease;
  }
  &#design {
    background-image: url('/assets/img/design-track-bg.jpg');
    background-position: 50% 50%;
  }
  &#development {
    background-image: url('/assets/img/development-track-bg.jpg');
    background-position: 50% 50%;
  }
}

.explore-next__page {
  position: relative;
  width: 85%;
  max-width: 710px;
  word-wrap: break-word;
  &:after {
    content: "learn more";
    @extend .button;
    @extend .secondary;
    margin: 0 auto;
  }
}
