

ul.people__list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  margin: 0;
}

li.people__list--item {
  width: 8rem;
  margin-right: $base-leading;
  @include breakpoint(medium) {
    &:first-child {
      margin-left: $base-leading;
    }
    margin: 0 $base-leading $base-leading 0;
  }
  flex-shrink: 0;
  &:last-child {
    margin-right: 0;
  }
  h6 {
    margin: 0;
  }
}

// The comment below ensures uncss doesn't strip out the declarations below
// as a result of the corresponding markup being inserted by a Panini function
// which is declared in src/helpers/personImage.js
/* uncss:ignore */
img.people__list--image {
  width: 128px;
  height: 128px;
  margin: 0;
  border-radius: 1000px;
  border-radius: 100%;
}
