{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=description content="{{description}}">
    <meta name=google-site-verification content=cFLGbcupvfgjthmkBwDcVx_qEmPNHjvLv4oQdOZ0A3s>
    <!-- Facebook Open Graph Tags -->
    <meta property="og:url" content="http://prosper.community/{{url}}" />
    <meta property="og:site_name" content="Prosper Community">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="http://prosper.community/assets/img/{{image}}" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <!-- Google Analytics -->
    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-68984382-2', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- Typekit -->
    <script>
      (function(d) {
        var config = {
            kitId: 'spa2sxo',
            scriptTimeout: 3000,
            async: true
          },
          h = d.documentElement,
          t = setTimeout(function() {
            h.className = h.className.replace(/\\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function() {
          a = this.readyState;
          if (f || a && a != "complete" && a != "loaded") return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config)
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s)
      })(document);
    </script>
  </head>
  <body>

    {{> header }}

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    {{> footer }}

    <!-- <script src="/bower_components/jquery/dist/jquery.min.js"></script> -->
    <!-- <script src="bower_components/foundation-sites/dist/foundation.min.js"></script> -->
    <script src="{{root}}assets/js/app.js"></script>

    {{#ifpage 'playbook'}}
      <script>
        (function($){
          //- All h2 id's must come in the format of subject-heading-words
          //- For it to work as a link in the table of contents
          var $playbookH2s = $('.l-playbook-content h2');


          //- Create list items for each h2 in array
          for (var i = 0; i < $playbookH2s.length; i++) {
            var h2Text = $($playbookH2s[i]).text();

            //- Takes any text and removes spaces, capitals
            function convertToInPageLink(text) {
              return text.replace(/\s+/g, '-').toLowerCase();
            }

            //- Adds to the table of contents a link to each h2 in playbook
            $('.l-table-of-contents').append(
              $('<li>').append(
                $('<a>').attr('href', '#' + convertToInPageLink(h2Text)).append('<h6>' + h2Text + '</h6>')
            ));
          }

        }(jQuery));
      </script>
    {{/ifpage}}

    <!-- this should be able to accept multiple pages as an argument, but since it isn't I've had to duplicate the codeblock below...  -->
    {{#ifpage 'volunteer'}}
      <script>
        (function($){
          $('input[id="name"]').change(function(){
             $('.madlib-signature-name').text($(this).val());
          });

          $('input[id="email"]').change(function(){
            $('.madlib-signature-email').text($(this).val());
          })
        }(jQuery));

      </script>
    {{/ifpage}}

    {{#ifpage 'academy'}}
      <script>
        (function($){
          $('input[id="name"]').change(function(){
             $('.madlib-signature-name').text($(this).val());
          });

          $('input[id="email"]').change(function(){
            $('.madlib-signature-email').text($(this).val());
          })
        }(jQuery));

      </script>
    {{/ifpage}}

    {{#ifpage 'user-experience-design'}}
      <script>
        (function($){
          $('input[id="name"]').change(function(){
             $('.madlib-signature-name').text($(this).val());
          });

          $('input[id="email"]').change(function(){
            $('.madlib-signature-email').text($(this).val());
          })
        }(jQuery));

      </script>
    {{/ifpage}}

    {{#ifpage 'web-development'}}
      <script>
        (function($){
          $('input[id="name"]').change(function(){
             $('.madlib-signature-name').text($(this).val());
          });

          $('input[id="email"]').change(function(){
            $('.madlib-signature-email').text($(this).val());
          })
        }(jQuery));

      </script>
    {{/ifpage}}

    {{#ifpage 'bursary-program'}}
      <script>
        (function($){
          $('input[id="name"]').change(function(){
             $('.madlib-signature-name').text($(this).val());
          });

          $('input[id="email"]').change(function(){
            $('.madlib-signature-email').text($(this).val());
          })
        }(jQuery));

      </script>
    {{/ifpage}}

    <!-- Script to make academy form submit via ajax, not working yet -->
    <!-- {{#ifpage 'academy'}}
    <script>
      $('.academy-form').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
          method: "POST",
          url: "https://docs.google.com/forms/d/1YZ0zdAHB07W2kuCIqTfwxadY7qjSfnoSWdbAjBb0lcY/formResponse",
          data: {
            'entry.473719223': $('input[name="entry.473719223"]').val(),
            'entry.1406085141': $('input[name="entry.1406085141"]').val(),
            'entry.630867410': $('input[name="entry.630867410"]').val(),
            'entry.173315658': window.location.href
          },
          success: function(data) {
            console.log(data);
          },
          error: function(data) {
            console.log(data);
          }
        });
      });
    </script>
    {{/ifpage}} -->

  </body>
</html>
